{% extends 'base.html' %}

{% block title_block %}
    Change recipe
{% endblock %}

{% block body_block %}
    <form id="recipe_form" method="post" action="/recipe/change/{{ recipe.slug }}/">
        {% csrf_token %}
        <p>{{ errors }}</p>
        <div class="form-group">
            <label for="name" >Name: </label>
            <input class="form-control" id="name" type="text" name="name" value="{{ recipe.name }}"><br>
        </div>
        <div class="form-group">
            <label for="category">Category: </label>
            <select class="form-control" id="category" class="" name="category">
                {% for category in categories %}
                    {% if recipe.category.name == category.name %}
                        <option selected value="{{ category.name }}">{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="recipe">Recipe: </label>
            <textarea class="form-control" id="recipe" name="recipe">{{ recipe.recipe }}</textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" name="submit" value="Change">
        </div>
    </form>
    <form id="category_form" method="post" action="{% url 'delete_recipe' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="hidden" name="recipe_slug" value="{{ recipe.slug }}">
            <input class="form-control" type="submit" name="submit" value="Delete">
        </div>
    </form>
{% endblock %}